body{
 background:#020617;
 color:white;
 font-family:sans-serif;
 text-align:center;
}

.container{
 margin-top:100px;
}

.logo{
 color:white;
}

.logo span{
 color:gold;
}

.card{
 background:#0f172a;
 padding:20px;
 margin:20px;
 border-radius:15px;
}

input{
 width:80%;
 padding:12px;
 margin:10px;
 border:none;
 border-radius:10px;
 background:#1e293b;
 color:white;
}

button{
 padding:12px 20px;
 background:gold;
 border:none;
 border-radius:10px;
}

.hidden{
 display:none;
}
